body {
    background-color: #343a40;
}

.container {
    margin-top: 100px;
    margin-left: 300px;
}

.menu {
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    color: aliceblue;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    background-color: crimson;
}

.slider {
    height: 5px;
    background-color: aquamarine;
    transition: all .4s ease-in-out;
}